---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  name: string;
  href: string;
}

const { name, href, ...props } = Astro.props as Props;

const isActive = href
  ? href === "/"
    ? Astro.url.pathname === "/"
    : Astro.url.pathname.startsWith(href)
  : false;
---

<a
  class:list={[
    "block font-semibold text-sm/6",
    isActive
      ? "dark:text-green-500 text-green-500"
      : "dark:text-white text-zinc-900 hover:text-zinc-600 dark:hover:text-zinc-300",
  ]}
  aria-current={isActive ? "page" : undefined}
  href={href}
  {...props}
  aria-label={`Go to ${name} page`}
>
  {name}
</a>
