---
import type { MenuProps } from './types';

const { items, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);

---
<nav {...props} class={`${className || ''}`}>
  {items.map(({ name, href, isActive }) => {
    const isCurrent =
      isActive ?? href === pathname || href === '/' + (subpath?.[0] || '');
    return (
      <a
        href={href}
        class={`${
          isCurrent ? 'text-blue-600 font-bold underline' : 'text-gray-700'
        }`}
      >
        {name}
      </a>
    );
  })}
</nav>
